:root {
    --primary-color: #1aa37a;
    --border2: 1px solid #1aa37a;
    --secondary-color: #123138;
    --border: 1px solid #123138;
    --div-color: #edfcff;
    --transition: .5s ease-in-out;

}
* {
    padding: 0;margin: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
    text-transform: capitalize;
}
body {
    color: var(--secondary-color);
    overflow-x: hidden;
}
button {
    border: none;
    padding: 14px 25px;
    border-radius: 30px;
    transition: var(--transition);
    &.light-btn {
        border: var(--border);
        background: none;
        cursor: pointer;
        &:hover {
            background-color: var(--secondary-color);
            color: #fff;
        }
    }&.dark-btn {
        background-color: var(--primary-color);
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        cursor: pointer;
        &:hover {
            background-color: darkolivegreen;
        }
    }
}
h1 {
    font-size: 60px;
    line-height: 75px;
}
h2 {
    font-size: 45px;
    line-height: 58px;
    font-weight: 500;
}
h3 {
    font-size: 30px;
    line-height: 45px;
}
h5 {
    font-size: 30px;
    line-height: 45px;
}
h6 {
    font-size: 20px;
    line-height: 40px;
}
p {
    font-size: 18px;
    line-height: 30px;
    margin: 10px 0;
    font-weight: 500;
}
section {
    padding: 30px 100px;
}


.navbar {
    padding: 30px 100px;
    & nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & h5 {
            font-size: 18px;
        }
        & ul {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style-type: none;
            & li {
                margin: 0 20px;
                padding: 5px 0px;
                font-size: 16px;
                font-weight: 500;
                text-transform: capitalize;
                border: 2px solid transparent;
                transition: var(--transition);
                cursor: pointer;
                &:hover {
                    border-bottom-color: #123138;
                }
            }
        }
        & i {
            display: none;
        }
        &.res-nav {
            display: none;
        }
    } 

}


/* Hero section */
.hero-section {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    & .text {
        width: 45%;
        padding-left: 100px;
        & h1 {
            margin: 10px 0;
        }
        & span {
            font-weight: 600;
            font-size: 18px;
        }
        & p {
            margin: 40px 0;
        }
        & button {
            margin-top: 10px;
        }

    }
    & .image {
        width: 44%;
        position: relative;
        margin-right: -5px;
        margin-top: -14px;
        z-index: -1;
        & img {
            width: 100%;
            float: right;
            border-radius: 10px;
        }
        &::after {
            position: absolute;
            content: '';
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            background-color: var(--secondary-color);
            border-radius: 12px;
            height: 100%;
            width: 100%;
            padding: 15px;
            z-index: -999;
        }
    }
    & .hover-div {
        position: absolute;
        background-color: #fff;
        width: 18%;
        padding: 10px;
        border-radius: 10px;
        left: 48%;
        top: 45%;
        /* z-index: 999; */
        box-shadow: 0 0 0 15px var(--secondary-color);
        & p {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 16px;
            font-weight: 600;
            & span {
                color: green;
                font-size: 14px;
            }
        }
        & hr {
            margin: 10px 0;
            border: none;
            border-top: var(--border);
        }
        & > span {
            font-weight: 500;
        }
        & > div {
            margin-top: 20px;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            & div {
                width: 15%;
                background-color: var(--secondary-color);
                &:nth-child(1)  {
                    height: 70px;
                }
                &:nth-child(2)  {
                    height: 100px;
                }
                &:nth-child(3)  {
                    height: 50px;
                }
                &:nth-child(4)  {
                    height: 90px;
                }
                &:nth-child(5)  {
                    height: 120px;
                    background-color: var(--primary-color);
                }
                &:nth-child(6)  {
                    height: 95px;
                }
            }
        }

        
        /* &::after {
            position: absolute;
            content: '';
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            background-color: var(--secondary-color);
            border-radius: 12px;
            height: 100%;
            width: 100%;
            padding: 15px;
            z-index: -1;
        } */
    }
}

/* Time management */
.transform {
    margin-top: 80px;
    & .text {
        margin: auto;
        width: 55%;
        text-align: center;
        & p {
            margin: 20px;
        }
    }
    & .sub-sec {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        & > div {
            border-radius: 12px;
            width: 32.5%;
            height: 300px;
            margin: 10px 0;
            background-color: var(--secondary-color);
            color: #fff;
            padding: 25px;
            & h3 {
                margin: 20px 0;
            }
            & p {
                font-size: 16px;
            }
            & i {
                height: 50px;
                width: 50px;
                font-size: 22px;
                padding: 1px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                background-color: var(--div-color);
                color: var(--primary-color);
                border: 0.5px solid #fff;
            }
        }
        & > div:first-child {
            position: relative;
            width: 100%;
            height: max-content ;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 40px 30px;
            overflow: hidden;
            & .txt {
                width: 45%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-direction: column;
                gap: 50px;
            }
            & .div {
                margin-bottom: -13%;
                width: 45%;
                border-radius: 8px;
                background-color: #fff;
                position: relative;
                color: var(--secondary-color);
                padding: 20px;
                padding-bottom: 40px;
                box-shadow: 0 0 0 10px #dcdbdb;
                & > div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: -5px;
                    &:first-child {
                        margin-bottom: 20px;
                        & > div{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            & > div {
                                & img {
                                    width: 50px;
                                    border-radius: 100%;
                                }
                                & h6 {
                                    font-size: 20px;
                                    list-style: 25px;
                                    color: var(--secondary-color);
                                }
                                & span {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                    & h6 {
                        font-size: 18px;
                        color: #999999;
                    }
                    & a {
                        color: blue;
                        text-decoration: none;
                    }
                }
                & > div:last-child {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    margin: 0;
                    margin-top: 20px;
                    /* gap: 5px; */
                    & div {
                        width: 9.5%;
                        height: 35px;
                        background-color: #7a7a7a;
                        border-radius: 5px;
                        &.green {
                            background-color: darkgreen;
                        }
                    }
                }
            }
        }
    }
}

/* Performance */
.perfomance {
    margin-top: 80px;
    & .text {
        margin: auto;
        width: 70%;
        text-align: center;
        & p {
            margin: 20px;
        }
    }
    & .sub-sec {
        margin-top: 100px;
        & > div {
            display: flex;
            justify-content: space-between;
            /* align-items: center; */
            margin-bottom: 70px;
            &:nth-of-type(even) {
                flex-direction: row-reverse;
            }

            & .txt {
                width: 43%;
                align-self: flex-end;
                & p {
                    margin: 20px 0;
                }
                & a {
                    font-weight: 600;
                    color: var(--secondary-color);
                }
                & i {
                    font-size: 40px;
                    color: var(--primary-color);
                    margin: 30px 5px;
                }
            }
            & .chart {
                position: relative;
                padding: 20px;
                width: 49%;
                border-radius: 10px;
                background-color: var(--div-color);
                color: var(--secondary-color);
                & > div:first-child {
                    /* height: 100%; */
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    & h6 {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 18px;
                        margin: 1px 0;
                        & hr {
                            width: 90%;
                        }
                    }
                }
                & > div:nth-child(2) {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-left: 10%;
                    width: 89%;
                    & h6 {
                        position: relative;
                        font-size: 16px;
                    }
            
                }
                & > div:last-child {
                    position: absolute;
            
                    height: 71%;
                    width: 83%;
                    top:3%;
                    left: 13%;
                    display: flex;
                    align-items: last baseline;
                    justify-content: space-between;
                    & > div {
                        width: 8%;
                        border-radius: 3px 3px 0 0;
                        background-color: var(--secondary-color);
                        &:nth-child(1) {
                            height: 45%;
                        }
                        &:nth-child(2) {
                            height: 30%;
                        }
                        &:nth-child(3) {
                            height: 77%;
                        }
                        &:nth-child(4) {
                            height: 35%;
                        }
                        
                        &:nth-child(5) {
                            height: 45%;
                        }
                        &:nth-child(6) {
                            height: 50%;
                        }
                        &:nth-child(7) {
                            height: 90%;
                        }
                        &:nth-child(8) {
                            height: 48%;
                        }
                        &:nth-child(9) {
                            height: 70%;
                        }
                        &:nth-child(10) {
                            height: 85%;
                        }
                        &:nth-child(11) {
                            height: 25%;
                        }
                    }
                }
            }
            & .pie {
                width: 49%;
                padding: 20px;
                background-color: var(--secondary-color);
                border-radius: 10px;
                color: var(--secondary-color);
                display: flex;
                align-items: center;
                justify-content: space-between;
                & > div:first-child {
                    position: relative;
                    & div {
                        height: 200px;
                        width: 200px;
                        background-color: #77e4e6;
                        border-radius: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 2px solid #fff;
                        &:nth-child(2) {
                            height: 150px;
                            width: 150px;
                            top: -15%;
                            left: 75%;
                            background-color: #fff4eb;
                            position: absolute;
                        }
                        
                        &:nth-child(3) {
                            height: 100px;
                            width: 100px;
                            top: 40%;
                            left: 80%;
                            background-color: var(--div-color);
                            position: absolute;
                        }
                    }
            
                }
                & > div:last-child {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;
                    gap: 20px;
                    margin-right: 50px;
                    & span {
                        position: relative;
                        &::after {
                            position: absolute;
                            content: '';
                            height: 10px;
                            width: 10px;
                            background-color: green;
                            left: -20px;
                            top: 20%;
                            border-radius: 100%;
                            border: 1px solid;
                        }
                        
                        &:first-child {
                            color: #77e4e6;
                            &::after {
                                background-color: #77e4e6;
                            }
                        }
                        &:nth-child(2) {
                            color: #fff4eb;
                            &::after {
                                background-color: #fff4eb;
                            }
                        }
                        &:last-child {
                            color: var(--div-color);
                            &::after {
                                background-color: var(--div-color);
                            }
                        }
                    }
                }
            }
            & .data {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: var(--div-color);
                border-radius: 10px;
                width: 49%;
                padding: 20px;
                & > div:first-child {
                    width: 50%;
                    & p {
                        margin: 30px 0;
                    }
                    & h3 {
                        display: flex;
                        width: 100%;
                        gap: 10px;
                        & span {
                            background-color: #000;
                            color: #fff;
                            border-radius: 10px;
                            padding: 0px 10px;
                            font-size: 16px;

                        }
                    }
                    & > div {
                        background-color: var(--secondary-color);
                        padding: 20px;
                        border-radius: 10px;
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                        flex-direction: column;
                        gap: 10px;
                        & span {
                            position: relative;
                            margin-left: 20px;
                            &::after {
                                position: absolute;
                                content: '';
                                height: 10px;
                                width: 10px;
                                background-color: green;
                                left: -20px;
                                top: 18%;
                                border-radius: 100%;
                                border: 1px solid;
                            }
                            
                            &:first-child {
                                color: #77e4e6;
                                &::after {
                                    background-color: #77e4e6;
                                }
                            }
                            &:nth-child(2) {
                                color: #fff4eb;
                                &::after {
                                    background-color: #fff4eb;
                                }
                            }
                            &:last-child {
                                color: var(--div-color);
                                &::after {
                                    background-color: var(--div-color);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Stories */
.stories {
    padding: 0;
    & .text {
        padding: 30px 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & > div:first-child {
            width: 42%;
            & h2 {
                font-weight: 700;
            }
        }
        & > div:last-child {
            display: flex;
            gap: 10px;
            & i {
                font-size: 20px;
                height: 45px;
                width: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--primary-color);
                color: #fff;
                border-radius: 100%;
                transition: .5s ease-in-out;
                cursor: pointer;
                &:hover {
                    background-color: var(--secondary-color);
                }
            }
        }
    }
    & .sub-sec {
        display: flex;
        /* align-items: center; */
        justify-content: space-between;
        gap: 20px;
        overflow-x: scroll;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
            display: none;
        }
        & > div {
            min-width: 58%;
            display: flex;
            gap: 10px;
            background-color: var(--div-color);
            border-radius: 10px;
            overflow: hidden;
            & img {
                width: 40%;
            }
            & > div {
                padding: 20px;
                display: flex;
                flex-direction: column;
                & > div {
                    margin-top: 20%;
                }
            }
        }
    }
}

/* Journey */
.journey {
    margin: 120px 100px;
    padding: 100px 200px;
    background-color: var(--secondary-color);
    color: #fff;
    text-align: center;
    border-radius: 12px;
    & p {
        width: 70%;
        margin: 30px auto;
    }
}

/* Footer */
footer {
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    & > div:first-child {
        width: 30%;
        & p {
            font-size: 17px;
            line-height: 25px;
        }
        & .logo {
            display: flex;
            flex-direction: column;
            width: 50%;
            line-height: 25px;
            font-family: cursive;
            margin-bottom: 20px;
            & span {
                font-size: 16px;
                font-style: italic;
            }
        }
    }
    & > div:nth-child(2) {
        display: flex;
        /* align-items: center; */
        justify-content: space-between;
        justify-self: flex-start;
        width: 65%;
        & > div {
            & ul {
                margin-top: 20px;
                list-style-type: none;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                gap: 20px;
            }
        }
        & > div:last-child {
            width: 38%;
            & .input {
                width: 100%;
                margin: 20px 0;
                border-radius: 30px;
                padding: 5px 10px;
                background-color: var(--secondary-color);
                display: flex;
                justify-content: space-between;
                align-items: center;
                & input {
                    outline: none;
                    border: none;
                    height: 40px;
                    width: 85%;
                    background-color: transparent;
                    color: #fff;

                } 
                & i {
                    font-size: 20px;
                    height: 40px;
                    width: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--primary-color);
                    color: #fff;
                    border-radius: 100%;
                    transition: var(--transition);
                    cursor: pointer;
                    &:hover {
                        background-color: darkolivegreen;
                    }
                }
            }
        }
    }
    & > div:last-child {
        width: 100%;
        margin-top: 40px;
        padding: 30px 0;
        border-top: 2px solid var(--secondary-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        & div:last-child {
            display: flex;
            align-items: center;
            gap: 5px;
        }
        & i {
            font-size: 20px;
            height: 50px;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--div-color);
            color: var(--primary-color);
            border-radius: 100%;
            transition: .5s ease-in-out;
            cursor: pointer;
            &:hover {
                background-color: var(--secondary-color);
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    h1 {
        font-size: calc(60px - 40%);
        line-height: calc(75px - 40%);
    }
    h2 {
        font-size: calc(45px - 40%);
        line-height: calc(58px - 40%);
        font-weight: 500;
    }
    h3 {
        font-size: calc(30px - 40%);
        line-height: calc(45px - 40%);
    }
    h5 {
        font-size: calc(30px - 40%);
        line-height: calc(45px - 40%);
    }
    section {
        padding: 20px 40px;
    }
    .navbar {
        padding: 30px 40px;
    }
    .hero-section .text {
        padding-left: 40px;
    }
    .stories .text {
        padding: 30px 40px;
    }
    .journey {
        margin: 100px 40px;
        padding: 60px 120px;
    }
    footer {
        padding: 20px 40px;
    }
}


@media only screen and (max-width: 800px) {
    h1 {
        font-size: calc(60px - 30%);
        line-height: calc(75px - 30%);
    }
    h2 {
        font-size: calc(45px - 30%);
        line-height: calc(58px - 30%);
        font-weight: 500;
    }
    h3 {
        font-size: calc(30px - 30%);
        line-height: calc(45px - 30%);
    }
    h5 {
        font-size: calc(30px - 30%);
        line-height: calc(45px - 30%);
    }
    p {
        font-size: calc(18px - 20%);
        line-height: calc(30px - 20%);
        margin: 10px 0;
        font-weight: 500;
    }  
    section {
        padding: 40px 20px;
    }
    .navbar {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        & nav {
            width: 100%;
            padding: 0;
            & i {
                display: block;
                font-size: 30px;
                color: var(--secondary-color);
                cursor: pointer;
                transition: var(--transition);
                &:active {
                    scale: 0.6;
                }
            }
            & > ul, & > .btn {
                display: none;
            }
            &.res-nav {
                padding: 0;
                position: fixed;
                display: none;
                width: 100%;
                margin: 0;
                height: 100vh;
                top: 0;
                right: 0;
                z-index: 99999;
                align-items: flex-end;
                justify-content: flex-start;
                flex-direction: column;
                & ul, & .btn {
                    flex-direction: column;
                    display: flex   
                }
                & ul {
                    justify-content: flex-start;
                    width: 40%;
                    background-color: var(--div-color);
                    height: 100%;
                    margin: 0;
                    text-align: center;
                    padding: 10px;
                    & i {
                        margin-bottom: 20%;
                        font-size: 35px;
                        align-self: flex-end;
                    }
                    & li {
                        border-radius: 30px;
                        margin: 0;
                        width: 100%;
                        padding: 14px 25px;
                        cursor: pointer;
                        transition: var(--transition);
                        &:hover {
                            background-color: var(--secondary-color);
                            color: #fff;
                            border-bottom-color: var(--primary-color);
                        }
                        &:has(button) {
                            padding: 0;
                            border: none;
                            width: 100%;
                            &:hover {
                                border: none;
                                background: none;
                                color: var(--secondary-color);
                            }
                        }
                        & button {
                            width: 100%;
                            margin: 10px 0;
                        }
                    }
                }
                &::after {
                    width: 100%;
                    height: 100vh;
                    left: 0;
                    top: 0;
                    background-color: #0000007b;
                    backdrop-filter: blur(10px);
                    content: '';
                    position: absolute;
                    z-index: -99;
                }
            }
        }
    } 
    .hero-section {
        padding: 40px 20px;
        flex-direction: column-reverse;
        & .text {
            padding: 0;
            margin-top: 25%;
            width: 100%;
        }
        & .image {
            width: 100%;
            &::after {
                padding: 10px;
            }
            & img {
                width: 100%;
                float: none;
            }
        }
        & .hover-div {
            top: 28%;
            left: 55%;
            width: 35%;
        }
    }
    .transform {
        margin-top: 40px;
        & .text {
            width: 100%;
        }
        & .sub-sec {
            & > div {
                width: 49%;
                height: max-content;
                & p {
                    font-size: 14px;
                }
                &:first-child {
                    width: 100%;
                    flex-direction: column;
                    align-items: flex-start;
                    & > div {
                        min-width: 100%;
                    }
                    & .txt {
                        gap: 20px;
                        margin-bottom: 30px;
                    }
                }
                &:last-child {
                    width: 100%;
                }
            }
        }
    }
    .perfomance {
        & .text {
            width: 100%;
        }
        & .sub-sec {
            margin-top: 50px;
            & > div {
                margin: 20px 0;
                flex-direction: column;
                &:nth-of-type(even) {
                    flex-direction: column;
                    & .txt {
                        align-self: flex-end;
                        text-align: right;

                    }
                }
                & .txt {
                    width: 80%;
                    margin: 10px 0;
                    align-self: flex-start;
                }
                & .chart, & .pie, & .data {
                    width: 100%;
                    margin: 0;
                }
                & .pie {
                    height: 300px;
                }
            }
        }
    }
    .stories {
        & .text {
            padding: 20px;
            flex-direction: column;
            & > div:first-child {
                width: 100%;
            }
            & > div:last-child {
                width: 100%;
                gap: 0;
                justify-content: space-between;
                margin: 20px 0;
            }
        }
        & .sub-sec {
            padding: 20px;
            & > div {
                min-width: 100%;
                gap: 0;
            }
        }
    }
    .journey {
        margin: 50px 20px;
        padding: 50px 30px;
    }
    footer {
        padding: 20px;
        margin-top: 100px;
        & > div:first-child {
            width: 80%;
            margin: 20px 0;
        }
        & > div:nth-child(2) {
            width: 100%;
        }
        & > div:last-child {
            padding: 10px 0;
        }
    }

}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: calc(60px - 80%);
        line-height: calc(75px - 55%);
    }
    h2 {
        font-size: calc(45px - 80%);
        line-height: calc(58px - 55%);
        font-weight: 500;
    }
    h3 {
        font-size: calc(30px - 80%);
        line-height: calc(45px - 55%);
    }
    h5 {
        font-size: calc(30px - 80%);
        line-height: calc(45px - 55%);
    }
    .navbar {
        & nav {
            &.res-nav {
                & ul {
                    width: 55%;
                }
            }
        }
        
    }
    .hero-section {
        & .text {
            margin-top: 40%;
            width: 100%;
            & p {
                margin: 20px 0;
            }
        }
        & .hover-div {
            top: 25%;
            left: 45%;
            width: 45%;
            padding: 5px;
            & p {
                font-size: 13px;
                font-weight: 600;
                & span {
                    font-size: 12px;
                }
            }
            & hr {
                margin: 5px 0;
            }

            & h4 {
                font-size: smaller;
            }
            & span {
                font-size: smaller;
            }
            & div {
                &:first-child {
                    height: 50px;
                }
                &:nth-child(2)  {
                    height: 80px;
                }
                &:nth-child(3)  {
                    height: 30px;
                }
                &:nth-child(4)  {
                    height: 70px;
                }
                &:nth-child(5)  {
                    height: 100px;
                }
                &:nth-child(6)  {
                    height: 75px;
                }
            }
            &::after {
                padding: 10px;
            }
        }
    }
    .transform {
        & .text {
            text-align: left;
            & p {
                margin: 20px 0;
            }
        }
        & .sub-sec {
            & > div {
                width: 100%;
                padding: 20px;
                margin: 5px 0;
                &:first-child {
                    padding: 20px;
                    & .txt {
                        gap: 10px;
                        margin-bottom: 20px;
                    }
                    & .div {
                        & > div:last-child div{
                            height: 25px;
                        }
                    }
                }
            }
        }
    }
    .perfomance {
        margin-top: 40px;
        & .text {
            text-align: left;
            & p {
                margin: 20px 0;
            }
        }
        & .sub-sec {
            & > div {
                & .txt {
                    width: 100%;
                }
                & .pie {
                    & > div:first-child div {
                        & h1 {
                            font-size: 40px;
                        }
                        &:first-child {
                            height: 150px;
                            width: 150px;
                        }
                        &:nth-child(2) {
                            height: 120px;
                            width: 120px;
                        }
                        &:last-child {
                            height: 80px;
                            width: 80px;
                        }
                    }
                    & > div:last-child {
                        gap: 10px;
                        margin-right: 0px;
                        margin-top: 110px;
                    }
                }
                & .chart {
                    padding: 10px;
                    & > div:first-child {
                        & h6 {
                            font-size: 16px;
                            margin: 0;
                            & hr {
                                width: 93%;
                            }
                        }
                    }
                    & > div:nth-child(2) {
                        width: 95%;
                        margin-left: 5%;
                        & h6 {
                            font-size: 14px;
                        }
                    }
                    & div:last-child {
                        width: 87%;
                        left: 10%;
                        top: 5.5%;
                    }
                }
                & .data {
                    flex-direction: column;
                    & > div {
                        width: 90%;
                        align-self: flex-start;
                        & img {
                            width: 80%;
                        }
                        &:first-child {
                            width: 100%;
                        }
                    }
                }
            }
            
        }
    }
    .stories {
        & .text {
            padding: 10px;
        }
        & .sub-sec {
            padding: 10px;
            & > div {
                & > div  {
                    padding: 10px;
                    & > div {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
    .journey {
        margin-top: 70px;
        padding: 40px 20px;
        & h2 {
            font-size: 30px;
        }
        & p {
            width: 100%;
        }
    }
    footer {
        & > div:first-child {
            width: 100%;
        }
        & > div:nth-child(2) {
            flex-wrap: wrap;
            font-size: large;
            & > div {
                width: 50%;
                margin: 30px 0;
                &:last-child {
                    width: 50%;
                }
            }

        }
        & > div:last-child {
            flex-wrap: wrap;
            align-self: center;
            & > div {
                text-align: center;
                width: 100%;
                margin: 10px 0;
                align-items: center;
                justify-content: center;
            }
        }
    }

}